body {

    font-family: 'Libre Baskerville', serif;
    margin: 0px;
}

h1 {
    font-size: 50px;

}

.GB {
    color: rgb(22, 238, 33);
}

#MB {
    color: rgb(15, 15, 15);
    font-style: normal;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(253, 4, 4), rgb(255, 60, 0), rgb(247, 3, 3));
    padding: 10px 40px;
    color: rgb(15, 15, 15);
    font-weight: 900;
    border-radius: 10px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.orange-color {
    color: blue;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.experiences-item {

    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;

}

#left {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#right {
    border-left: 7px solid;
    border-image: linear-gradient(red, tomato);
    border-image-slice: 1;

}

footer p {
    text-align: center;
}